.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
}

.display {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    height: 38px;
}

.display span {
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    transform: translateY(1px);
    box-shadow: none;
}